@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap');
@import url(../style/header.css);
@import url(../style/sobre.css);
@import url(../style/vagas.css);
@import url(../style/comentario.css);



:root {
    --titulo: #101828;
    --descricao: #667085; 
    --vinho: #8E2424;
}

body {
    font-family: 'Inter', sans-serif;
}