@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap');
@import url(../style/header.css);
@import url(../style/sobre.css);
@import url(../style/vagas.css);
@import url(../style/comentario.css);
@import url(../style/oportunidade.css);


/* mobile */

@import url(../mobile/mobile-nav.css);
@import url(../mobile/mobile-sobre.css);
@import url(../mobile/mobile-vagas.css);

:root {
    --titulo: #101828;
    --descricao: #667085; 
    --vinho: #8E2424;
}

body::-webkit-scrollbar{
    width: 10px;
}

body::-webkit-scrollbar-thumb{
    background-color: var(--vinho);
    border-radius: 5px;
}

body {
    font-family: 'Inter', sans-serif;
}