.vagas__intro{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.vagas__span{
    color: var(--vinho);
    font-size: 14px;
    font-weight: 500;
    background-color: #f8f1f1;
    padding: .6rem;
    border-radius: 1rem;
}

.vagas__title {
    font-size: 36px;
    font-weight: 600;
    color: var(--titulo);
}

.vagas__description{
    color: var(--descricao);
    font-size: 20px;
    font-weight: 400;
}

.vagas__img {
    margin-top: 2rem;
    width: 80%;
}


/* ----------Descrição das vagas ----------------*/

.vagas__design{
    width: 48rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: 4rem;
    margin-left: auto;
    margin-right: auto;
}

.vagas__design-product{
    border: solid 1px #EAECF0;
    width: 700px;
    padding: 2rem 2rem 2rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-radius: 1rem;
    margin-top: 0;
}

.vagas__all-title {
    font-size: 20px;
    font-weight: 500;
    color: var(--titulo);
    align-self: flex-start;
}

.vagas__all-description {
    font-size: 16px;
    font-weight: 500;
    color: var(--descricao);
}