@media (max-width: 768px){
    .oportunidades{
        margin-top: 0;
        padding: 3rem;
    }

    .oportunidades__first-title{
        font-size: 24px;
        text-align: center;
    }

    .oportunidades__second-title{
        font-size: 18px;
        text-align: center;
    }

    .email-cadastro{
        width: 18rem;
    }

    .oportunidades__email{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
    }

    #btn-cadastro{
        margin: 0;
    }
    
    .direitos{
        font-size: 10px;
        margin-top: 2rem;
    }
}