@media (max-width: 768px){
    .main-header{
        justify-content: space-between;
    }

    .header__logo {
        margin: 0;
    }

    .header__nav {
        margin: 0;
    }

    .wrap-nav {
        position: fixed;
        top: 120px;
        right: 0;
        width: 100%;

        transform: translateX(100%);
        transition: transform 200ms linear;

        display: flex;
        flex-direction: column;
        gap: 4rem;
        align-items: center;
        background-color: white;
        padding: 2rem 0;
    }

    .nav-active {
        transform: translateX(0);
    }

    .menu-mobile {
        display: block;
    }

    .menu-icon{
        width: 40px;
    }

    .header__navigation {
        display: flex;
        align-items: center;
        gap: 2rem;
        flex-direction: column;
    }

    .header__navigation li {
        margin: 0;
    }

    .header__button {
        display: block;
        margin: 0;
    }

    .oportunidades {
        display: none;
    }
}